header
{
    text-align: center;
}

.header_link a
{
    text-decoration: none;
    color: black;
}

.navbar
{
    height: 60px;
    width: 100%;
    text-align: center;
}

.navbar ul
{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar ul a
{
    position: relative;
    text-decoration: none;
    color: black;
}

