*
{
    margin: 0;
}





.header_container
{
    max-width: 1100px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}

.header_title a
{
    padding: 30px;
    text-decoration: none;
    color: black;
}

.navbar ul
{
    font-size: 1.3rem;
    list-style: none;
    display: flex;
    gap: 2.3rem;
    padding: 0;
}

.navbar ul a
{
    text-decoration: none;
    color: black;
}

.navbar ul a.active
{
    color: gray;
}





@media (max-width: 900px)
{

.header_container
{
    text-align: center;
    display: block;
}

.navbar ul
{
    margin-top: 20px;
    font-size: 1.3rem;
    justify-content: center;
}

}


